  /* Start general body and content / font styles */
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  /* End general body and content / font styles */

  /* Start of styles for the grid boxes  */
  .container {
    display: flex;
    padding-top: 2.5%;
    text-align: center;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 10px;
    color: #444;
    margin-left: auto;
    margin-right: auto;
  }
  
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 60px;
    font-size: 150%;
  }

  .multiple {
    background-color: rgb(138, 224, 145);
    color: #000;
    border-radius: 5px;
    padding: 60px;
    font-size: 150%;
  }
    /* End of styles for the grid boxes  */

  /* Start of tablet and mobile devices */
  @media only screen and (max-width: 768px) {
    .wrapper {
      grid-template-columns: 200px 200px;
    }
  }

  @media only screen and (max-width: 375px) {
    .wrapper {
      grid-template-columns: 200px;
    }
  }
  /* End of tablet and mobile devices */